<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="true">

    <!--    <springProfile name="dev">-->
    <!--    <include resource="com.meysam.logging/logging-dev.xml"/>-->
    <!--    </springProfile>-->

<!--    <include resource="com.meysam.logging/logging-configurable.xml"/>-->

    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <!--        <destination>localhost:5000</destination>-->
        <destination>127.0.0.1:5009</destination>
        <!--        <destination>${LOGBACK_URL}:${LOGBACK_PORT}</destination>-->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <providers>
                <timestamp/>
                <version/>
                <loggerName/>
                <pattern>
                    <pattern>
                        {
                        "level": "%level",
                        "thread": "%thread",
                        "app_name": "${appName}",
                        "app_port": "${appPort}",
                        "message": "%message - %exception"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
        <keepAliveDuration>5 minutes</keepAliveDuration>
    </appender>

    <root lvel="INFO">
        <appender-ref ref="logstash"/>
    </root>


</configuration>
