<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<configuration scan="true" scanPeriod="60 seconds" debug="false">-->

<!--    <conversionRule conversionWord="tag" converterClass="com.bizzan.bitrade.config.LogConverterConfig"/>-->

<!--    <springProfile name="dev">-->
<!--        <include resource="com/meysam/logging/logging-dev.xml"/>-->
<!--    </springProfile>-->

<!--    <include resource="com/bizzan/logging/logging-configurable.xml"/>-->

<!--</configuration>-->
